<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.shop.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.group.shop.entity.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="set_id" property="setId" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapVo" type="com.group.shop.vo.GoodsVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <association property="set" column="{id=set_id}" select="com.group.shop.mapper.SetMapper.queryById"></association>
  </resultMap>

  <resultMap id="GoodsUrlResultMap" type="com.group.shop.vo.GoodsUrl" extends="BaseResultMap">
  	<collection property="url" ofType="java.lang.String">
  	<result column="url" property="url" jdbcType="VARCHAR"/>
  	</collection>
  </resultMap>
	
  <sql id="Base_Column_List" >
    id, name, `describe`, standard,sale_price, set_id, photo, create_time, last_edit_time
  </sql>

  <select id="queryById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertGoods" parameterType="com.group.shop.entity.Goods" >
    insert into tb_goods (id, name, `describe`, 
      standard, sale_price, set_id,photo,
      create_time, last_edit_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{standard,jdbcType=VARCHAR}, #{salePrice,jdbcType=DECIMAL},
      #{setId,jdbcType=INTEGER},#{photo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.group.shop.entity.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="describe != null" >
        `describe`,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="setId != null" >
        set_id,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="setId != null" >
        #{setId,jdbcType=INTEGER},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.group.shop.entity.Goods" >
    update tb_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="setId != null" >
        set_id = #{setId,jdbcType=INTEGER},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateGoods" parameterType="com.group.shop.entity.Goods" >
    update tb_goods
    set name = #{name,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      set_id = #{setId,jdbcType=INTEGER},
      photo = #{photo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryGoodsInfoAndImgById" resultMap="GoodsUrlResultMap" parameterType="java.lang.Integer">
  	SELECT g.*,m.url from  tb_goods g
	LEFT JOIN  tb_goods_media sm ON g.id = sm.goods_id
	LEFT JOIN tb_media m ON m.id = sm.media_id
    WHERE g.set_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getGoodsVoList" resultMap="BaseResultMapVo" parameterType="com.group.shop.vo.GoodsVo">
    select
    <include refid="Base_Column_List"></include>
    from tb_goods
    <where>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="setId != null">
        and set_id = #{setId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>