<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.shop.mapper.SetMapper" >
  <resultMap id="BaseResultMap" type="com.group.shop.entity.Set" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="index" property="index" jdbcType="INTEGER" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="SetUrlResultMap" type="com.group.shop.vo.SetUrl" extends="BaseResultMap">
   <collection property="url" ofType="java.lang.String">
   	<result column="url" property="url"/>
   </collection>
  </resultMap>
	
  <sql id="Base_Column_List" >
    id, name, `describe`, price, sale_price,total, `index`, del, create_time, last_edit_time
  </sql>

  <select id="queryById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_set
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tb_set
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSet" parameterType="com.group.shop.entity.Set" >
    insert into tb_set (id, name, describe, 
      price, total, `index`, del,create_time, last_edit_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{total,jdbcType=INTEGER}, #{index,jdbcType=INTEGER}, #{del,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.shop.entity.Set"  useGeneratedKeys="true" keyProperty="id">
    insert into tb_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="describe != null" >
        `describe`,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="total != null" >
        total,
      </if>
     <if test="index != null" >
        `index`,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateSet" parameterType="com.group.shop.entity.Set" >
    update tb_set
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="index != null" >
        `index` = #{index,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="querySetInfoAndImgById" resultMap="SetUrlResultMap" parameterType="java.lang.Integer" >
	SELECT s.*,m.url from tb_shop_set p
	JOIN tb_set s ON p.set_id = s.id
	JOIN tb_set_media sm ON s.id = sm.set_id
	JOIN tb_media m ON m.id = sm.media_id
    WHERE p.shop_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getSetList" resultMap="BaseResultMap" parameterType="com.group.shop.entity.Set">
    select
    <include refid="Base_Column_List"></include>
    from tb_set
    <where>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>